:root {
  --first-color: #5555ff;
  --second-color: #55ffff;
  --third-color: #ff55ff;
  --ui-bar-height: 10svh;
  --ui-bar-padding: 1rem;

  --first-color-dark: color-mix(in srgb, var(--first-color) 80%, black 20%);
  --second-color-dark: color-mix(in srgb, var(--second-color) 80%, black 20%);
  --third-color-dark: color-mix(in srgb, var(--third-color) 80%, black 20%);

  --first-color-light: color-mix(in srgb, var(--first-color) 80%, white 20%);
  --second-color-light: color-mix(in srgb, var(--second-color) 80%, white 20%);
  --third-color-light: color-mix(in srgb, var(--third-color) 80%, white 20%);

  --first-color-darker: color-mix(in srgb, var(--first-color) 60%, black 40%);
  --second-color-darker: color-mix(in srgb, var(--second-color) 60%, black 40%);
  --third-color-darker: color-mix(in srgb, var(--third-color) 60%, black 40%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--third-color-darker);
  background-image: url("/bkg1.png");
  background-repeat: repeat;
  background-position: top left;
  color: #000;
}

.hidden {
  display: none !important;
}

.top-ui {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--ui-bar-height);
  padding: var(--ui-bar-padding);
  background-color: var(--third-color-dark);
}

.top-ui img {
  height: 100%;
}

.top-ui > span {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

#canvasContainer {
  text-align: center;
  width: 100%;
  margin-inline: auto;
}

.bottom-ui {
  --bottom-ui-inner-size: max(
    1px,
    calc(var(--ui-bar-height) - (var(--ui-bar-padding) * 2))
  );
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: var(--ui-bar-height);
  padding: var(--ui-bar-padding);
  background-color: var(--third-color-dark);
  overflow: hidden;
}

.bottom-ui .stage-panel {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
  height: 100%;
}

.bottom-ui .stage-panel > button {
  background-color: var(--third-color);
  border: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: 0 0 var(--bottom-ui-inner-size);
  width: var(--bottom-ui-inner-size);
  height: var(--bottom-ui-inner-size);
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.bottom-ui .stage-panel > button > svg {
  width: 70%;
  height: 70%;
  display: block;
}
